.sortAndFilterData {
  font-size: 1rem;
  padding: 0.5rem 0;
  &__sort {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    &-select {
      text-transform: capitalize;
    }
    &-btn {
      background: inherit;
      border: none;
      color: blue;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      font-size: 0.9rem;
      text-decoration: underline;
      text-transform: capitalize;
      margin: 0 0.25rem;
      &:active {
        color: lightblue;
      }
    }
  }
  &__filter {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    &-select {
      margin-left: 0.25rem;
      text-transform: capitalize;
    }
  }
}
